:root {
    --whitecolor: #ffffff;
    --blackcolor: #000000;
    --websitecolor: #19838a;
    --websitelightcolor: #19838a2b;
    --bodycolor: #6e6b7b;
    --lightgreycolor: #f8f8f8;
    --greycolor: #bbbbbb;
    --greyrgb: #b9b9b94f;
    --inputborder: #ebebeb;
    --inputcolor: #bfbfbf;
}
